.button-like {
  background-image: url(../../images/button_like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  min-width: 26px;
  height: 19px;
  border: 0;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity ease-in 0.3s;
  border-radius: 2px;
}

.button-like:hover {
  opacity: 0.5;
}
