.button-like__counter {
  color: black;
  justify-self: flex-end;
  margin-left: 35px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
