.profile {
  max-width: 880px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 768px;
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    max-width: 580px;
    margin-bottom: 36px;
    padding: 0 19px;
  }
}
