.elements {
  max-width: 880px;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 622px) {
  .elements {
    max-width: 580px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 48px;
  }
}
