.popup_type_infotooltip {
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 580px) {
    .popup_type_infotooltip {
        max-width: 282px;
    }
}